/* animation variables */
body {
    --header-load-time: 500ms;
    --header-item-load-time: 900ms;
}

 /* ================================= 
        | Hero section |
====================================  */
.animated-title
{
    animation: title-load 1.5s ease-in  ;
    animation-fill-mode: forwards;
    opacity: 0;
}




@keyframes title-load {
    0% {
        opacity: 0;
        font-size: 0;

    }
    100% {
        opacity: 1;
        font-size: initial;
    }
}
