@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto+Slab:wght@700&display=swap');
:root {
  /* color varables */
  --primary: #002f60;
  --primary-lite: #425C93;
  --secondary: #28a745;
  --accent: #B78A00;
  --accent-lite:#fc704680 ;
  --light-bg: #DFF8D5;

  /* font colors */
  --text-color: #1a1b1d;
  --light-text-color: #E6F4F1;

  /* fonts */
  /* fonts */
  --title-font: 'Roboto Slab', serif;
  --text-font: 'Lato', sans-serif;
  --text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
  2px 2px 0 #000, 2px 2px 60px var(--light-text-color);
  /* font sizes */
  --hero-title: clamp(1.5rem, 3.5cqw, 2.6rem);
  --title-size: clamp(1em, 2.3cqw, 1.2em);
  --page-title-size: clamp(1.3rem, 2cqw, .8em);
  --text-size: 1.2rem;
  --nav-menu: 1rem;
  /* for other styles */
  --radius: 6px;
  --shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.6);

  --block-padding: 5px 15px;
  --section-padding: 5dvh 20px;
 

  --gradient: linear-gradient(
    to bottom,
    var(--primary),  
    var(--primary-lite)
    
  );
  --gradient-reverse: linear-gradient(
    to top,
    var(--primary),  
    var(--primary-lite)
  );
}
body {
  font-family: var(--text-font);
  font-size: var(--text-size);
}
.gradient {
  background-image: var(--gradient);
}
.gradient-reverse {
  background-image: var(--gradient-reverse);
}
.gradient-lite {
  background: linear-gradient(15deg, #808080, #ffffff);
}
.verse {
  font-style: italic;
  font-size: .8em;
  background-color: #ccc;
  padding: 3px 8px;
}
strong {
  font-weight: 700;
}
p,
li {
  font-family: var(--text-font);
  font-weight: 400;
  font-size: var(--text-size);
}
ul {
  /* to counter bootstrap */
  padding-left: 0;
}
a {
  text-decoration: none;
  font-family: var(--text-font);
  color: var(--secondary);
  font-weight: bold;
}
a:hover {
  color: var(--accent);
}
details summary {
  cursor: pointer;
  text-align: left;
  transition: .5s ease-in-out;
}
details summary:hover {
  background-color: #ccc;
}
.bg {
  background-color: #e6e6e6;
}
details p {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease; 
}

details[open] p {
  max-height: 500px; 
}


/* For edge and other browsers that do not support summary and details tags */
@supports not (-ms-ime-align: auto) {
  details summary {
    cursor: pointer;
  }

  details summary > * {
    display: inline;
  }

  /* Plus any other <details>/<summary> styles you want IE to ignore. */
}

h1,
h2 {
  font-family: var(--title-font);
  font-weight: 700;
  text-transform: capitalize;
}
h3, h4 {
  font-size: var(--page-title-size);
  font-weight: 700;
  text-transform: capitalize;
}
h5 {font-weight: bold; font-family: var(--title-font)}
hr {
  width: 300px;
  margin: 1.5rem auto;
  border-bottom: 2px dotted var(--secondary);
}

/* for some titles to be the primary color */
.primary {
  color: var(--primary);
}

.narrow-section {
  display: grid;
  min-height: 200px;
  place-items: center;
  max-width: 1200px;
  margin: auto;
  text-align: justify;
  padding: var(--section-padding);
}


/* Grid template to be used for the pages that contain images */
.page h3 {
  font-weight: 600;
  color: var(--primary);
}
.page img {
  border: 2px groove var(--accent);
  border-radius: var(--radius);
  box-shadow: 2px 2px 15px #222;
}
.page .custom-btn img {
  border: none;
  border-radius: 0;
  box-shadow: none;
  display: inline; margin-right: 10px;
  width: 60px;
}
.page .custom-btn {
  padding: none;
}
.page h4 {
  color: var(--primary);
  font-family: var(--title-font);
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
}



.custom-section,
.custom-section-reverse {
  padding: var(--block-padding);
  margin: 0 auto;
  display: grid;
  justify-content: center;
  gap: 1rem;
  grid-template-areas:
    "title"
    "img"
    "disc";
}
#disc ul {
  margin-left: 5dvw;
}
@media (min-width: 900px) {
  .custom-section,
  .custom-section-reverse {
    padding: var(--section-padding);
  }
  .custom-section {
    align-items: center;
    gap: 1.5rem;
    grid-template-areas:
      "title title title title"
      "img img disc disc";
  }

  .custom-section-reverse {
    display: grid;
    max-width: 1300px;
    gap: 1rem;
    grid-template-areas:
      "title title title title "
      "disc disc img img";
  }
}

@media (min-width: 1100px) {
  .page h4 {
    text-align: left;
  }
  .custom-section,
  .custom-section-reverse {
    max-width: 1300px;
    align-items: center;
  }

  .custom-section-reverse {
    grid-template-areas:
      "title  img"
      "disc  img";
  }
  .custom-section {
    max-width: 1100px;
    align-items: center;
    gap: 1rem;
    grid-template-areas:
      "img title"
      "img disc";
  }
  /* buy now buttons */
  
  .buy-now-box {
    display: flex;
    justify-content: space-around;
  }
  .buy-now-box div {
    max-width: 400px; 
    text-align: center;
    border: 1px groove var(--secondary);
    box-shadow: var(--shadow);
    padding-bottom: 10px;
    background: linear-gradient(to bottom, #0f2027, #fff);
    border-radius: var(--radius);
    color: var(--light-text-color);
    min-height: 300px;
    display: grid;
    place-items: center
  }
  .buy-now-box div img {
    border: none;
    width: 60px;
    display: inline;
    margin-right: 10px;
    box-shadow: none;
  }
}

/* grid parts for the pages that uses them as the main content*/
/* ms = main small and ml = main large   */
#title {
  grid-area: title;
  grid-row: span -1;
}
#disc {
  grid-area: disc;
  margin: auto;
}
#img {
  grid-area: img;
}

/* site care page hero styling */
.site-care-hero {
  background-image: url("/assets/imgs/site-care-bg.jpeg");
  background-size: contain;
  background-position: right center;
  background-repeat: no-repeat;
  background-color: #cdd1d2;
}
.site-care-hero-inner {
  max-width: 1200px;
  padding: var(--block-padding);
  background-color: #cdd1d2cc;
}
.site-care-hero-inner ul {
  list-style-type: circle;
  margin-left: 5%;
}
@media (min-width: 60em) {
  .site-care-hero-inner {
    background-color: #cdd1d2cc;
    padding: var(--section-padding);
    background-color: none;
  }
 
}
/* food post styling */
.restaurant-post {
  display: grid;
  place-items: center;
  background-color: #cdd1d2;
  min-height: 400px;
}
.restaurant-post-inner {
  max-width: 900px;
  padding: var(--block-padding);
}
details[open] summary ~ * {
  animation: details-ele 0.5s ease-in-out;
}

@keyframes details-ele {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/* learn more buttons */

.custom-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  margin: 10px auto;
}

.custom-btn a {
  border: 3px outset var(--secondary);
  color: var(--secondary);
  font-weight: 600;
  font-family: var(--title-font);
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 5px 10px;
  background-color: var(--light-bg);
  border-radius: var(--radius);
  transition: 0.3s ease-in-out;
  font-size: .7em;
}

.custom-btn a:hover {
  box-shadow: none;
  background-color: var(--accent);
  background-blend-mode: luminosity;
  color: var(--light-text-color);
  border-style: inset;
  border-color: var(--primary);
}

.light-links a {
  color: var(--light-text-color);
  text-decoration: none;
}

/* =================================== 
| place that holds the title |
==================================== */
.title-section {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--primary-lite);
  padding: 20px 0;
  display: grid;
  place-items: center;
}

.site-title {
  text-align: center;
  padding: var(--block-padding);
  max-width: 1200px;
  margin: auto;
}
.site-title hr {
  border-color: #fff;
  border-style: ridge;
}
.site-title h1 {
  font-family: var(--title-font);
  font-size: var(--hero-title);
}
.hero-content h2 {
  max-width: 60%; 
  margin: auto;
  font-size: calc(2rem * 0.5);
}

.home-sub-title {
  font-family: var(--text-font);
  color: var(--accent);
  font-size: var(--title-size);
}
.hero-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}
/* Styles for the background image on all other pages */
.img-background {
  min-height: 70vh;
  background-image: var(--gradient-lite);
  background-size: cover;
  background-color: #00000080;
  background-blend-mode: overlay;
  background-position: bottom 50% center;
  position: relative;
  display: grid;
  place-items: center;
}
@media (min-width: 60em) {
  .site-title h1 {
    font-size: var(--hero-title);
    text-align: center;
    font-weight: 800;
    text-transform: capitalize;
  }
  /* Styles for the background image on all other pages */
.img-background {
  min-height: 700px;
}
}

.video-background-wrapper {
  min-height: 700px;
  overflow: hidden;
  position: relative;
  
} 

/* for mobiles - no video */
@media (max-width: 1000px) {

  .video-background-wrapper {
    background-image: url('/assets/imgs/peace-of-mind.jpeg');
    background-color: #000000cc;
    background-blend-mode: overlay;
    min-height: 60vh;
  }

}

/* dynamic hero background per page when needed */
.web-design {
  background-image: url('/assets/imgs/peace-of-mind.jpeg');
}
.partner {
  background-image: url('/assets/imgs/hero/partner.webp');
}
.portfolio-bg {
  background-image: url('/assets/imgs/hero/portfolio-bg.webp');
  background-position: top 50% center;
}
.blog-bg {
  background-image: url('/assets/imgs/hero/support.jpeg');
}
.contact-bg {
  background-image: url('/assets/imgs/hero/contact-us.jpg');
}
.food-bg {
  background-image: url('/assets/imgs/hero/kitchen.jpg');
}
.food-bg-post {
  background-image: url('/assets/imgs/food-app.webp');
}
.monitor-bg {
  background-image: url('/assets/imgs/hero/monitor.webp');
}
.business-bg {
  background-image: url('/assets/imgs/hero/business.jpg');
}
.site-care-bg {
  background-image: url('/assets/imgs/hero/security.webp');
}
.promo-bg {
  background-image: url("/assets/imgs/hero/promo-bg.webp");
}

.pageError {
  background-image: url("/assets/imgs/hero/pageError.jpg");
  background-position: top  center 50%;
}
.digital-bg {
  background-image: url("/assets/imgs/hero/digital-landscape.webp");
}
.garden-bg {
  background-image: url("/assets/imgs/hero/website-maintenance-and-gardeningbg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.pay {
  background-image: url('/assets/imgs/hero/pay.webp');
}
video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
}
.video-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/* Logo and Navbar styles */
.logo-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: relative;
  background-color: #ffffffcc;
  box-shadow: 0 0 15px var(--primary-lite);
  border: 1px solid var(--primary);
  border-radius: 0 0 18px 18px;
  margin-bottom: 2%;
  
}
/* Style the title and sub title with cta button */
.hero-content {
  text-align: center;
  margin-top: 5vw;
  font-size: 0;
  opacity: 0;
  animation: fadeIn 0.7s ease-in-out forwards;
  animation-delay: 0.3s;
}
.hero-content hr {
  border-style: ridge;
}
@keyframes fadeIn {
  0% {
    opacity: 0; /* Start with 0 opacity */
    /* transform: translateX(-100%); */
  }
  100% {
    opacity: 1; /* End with 100% opacity */
    /* transform: translateX(0); */
  }
}
.page-bg {
  background-image: var(--gradient);
}
.page-bg .hero-content {
  margin: 80px 0;
}
.hero-content h1 {
  font-size: var(--hero-title);
  font-family: var(--title-font);
}
.page-text-shadow {
  text-shadow: 0 0 20px orangered;
}
.home-text-shadow {
  text-shadow: 0 0 20px #e6dddd;
}

@media (min-width: 700px) {
  .page-bg {
    background-size: cover;
    background-position: center;
  }

}
.cta-button a.lightbox-text-link {
  text-decoration: none;
  display: inline-block;
  color: var(--primary);
  font-size: 24px;
  border: 2px solid var(--text-color);
  padding: 14px 70px;
  border-radius: 50px;
  margin: 20px auto;
  text-align: center;
  transition: 0.3s ease-in;
  background-color: var(--light-bg);
  box-shadow: inset 0 0 15px #000;
}

.cta-button a.lightbox-text-link:hover {
  background-color: var(--accent);
  color: var(--light-text-color);
}


/* logo and menu items */
.logo-container img {
  width: 200px;
}

.nav-menu ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.nav-menu li {
  margin: 0 20px;
}

.nav-menu a {
  color: var(--primary);
  text-decoration: none;
  font-size: var(--nav-menu);
  font-weight: bold;
  transition: 0.5s ease-in-out;
  text-transform: capitalize;
  border-bottom: 3px solid transparent;
  border-top: 3px solid transparent;
}

.nav-menu a:hover {
  border-color: var(--primary);
}
.nav-menu .active-nav {
  border-color: var(--accent);
  color: var(--accent);
}
/* Style the dropdown menu */
.dropdown > .dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1;
  transition: 200ms ease-in-out;
  background-color: var(--primary-lite);
  border: 0 3px 3px 3px;
  border-style: outset;
  border-color: var(--secondary);
  border-radius: 0 0 8px 8px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.8);
  padding: 5px;
  animation: about-dropdown 600ms ease-out;
  white-space: nowrap;
  text-align: center;
}
.dropdown-menu .active-nav {
  border-color: transparent;
  color: #a5a0a5;
}
.dropdown-menu li {
  padding: 5px 10px;
}

/* Background color for the dropdown menu on hover */
.nav-menu li:hover .dropdown-menu {
  display: block;
  /* background-color: #fff;  */
}

.dropdown-menu a {
  color: #fff;
  text-decoration: none;
  display: block;
}

.dropdown-menu a:hover {
  color: var(--accent);
  border-color: transparent;
}
@keyframes about-dropdown {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* top bar with phone, social and email */
.top-bar > div {
  min-width: 200px;
}
.top-bar {
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.top-bar a {
  color: var(--light-text-color);
}
.social-links {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.social-links img,
.top-bar img {
  display: inline;
  
}
.social-links img {
  border-radius: 4px;
  box-shadow: 0 0 10px #000;
  padding: 1px;
  transition: .3s ease-in-out;
  border: 1px solid var(--primary);
  background-color: var(--light-bg);
}
.social-links img:hover {
  background-color: var(--accent);
}
/* Mobile menu button */
.mobile-menu-button {
  display: none;
  background-color: var(--primary);
  color: var(--light-text-color);
  border: 1px solid white;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 1.25rem;
  cursor: pointer;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 100;
}

/* Mobile menu sidebar */
.mobile-menu-sidebar {
  /* display: none; */
  width: 250px;
  height: 100%;
  position: fixed;
  box-shadow: var(--shadow);
  top: 0;
  left: -260px;
  overflow-x: hidden;
  transition: left 0.3s;
  background-color: #fff;
  z-index: 99;
  padding: var(--block-padding);
}
.sidebar-menu li {
  list-style: none;
}
/* Show the mobile menu button and sidebar on smaller screens */
.mobile-menu-sidebar.is-active {
  left: 0; /* Show the sidebar when active */
  background-color: var(--primary-lite);
}

@media screen and (max-width: 880px) {
  #video-background {
    /* height: 60vh; */
    overflow: hidden;
    object-fit: fill;
    z-index: -1;
  }
  .dark-bg {
    background-color: #11111177;
    z-index: -1;
  }
  .logo-container {
    text-align: center;
    width: 100%;
  }

  .logo-container img {
    width: 250px;
    margin: 0 auto;
  }
  .mobile-menu-button {
    display: block;
  }

  .nav-menu {
    display: none;
  }

  .mobile-menu-sidebar {
    display: block; /* Show the mobile menu sidebar on small screens */
    padding-top: 80px;
  }

  .mobile-menu-sidebar a {
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 1.25rem;
    color: #fff; /* Change to your desired text color */
    display: block;
    transition: background-color 0.3s;
  }

  .mobile-menu-sidebar a:hover {
    background-color: var(--primary);
    color: #fff; /* Change to hover text color */
  }
}

.introduction {
  min-height: 150px;
  display: grid;
  place-items: center;
}
.introduction h3 {
  font-family: var(--title-font);
  margin-bottom: 10px;
}


/*  =================================== 
    home page content styling
=================================== */
.home-section-maintenance {
  background-image: url('/assets/imgs/hosting-maintenance.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #1f1c1ccc;
  background-blend-mode: overlay;
  min-height: 500px;
  display: grid;
  place-items: center;
  justify-content: center;
  color: var(--light-text-color);
}
.home-section-maintenance-inner {
  max-width: 100%;
  text-align: center;
}
@media (min-width: 900px) {
  .home-section-maintenance {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center left;
    min-height: 500px;
    display: grid;
    place-items: center;
    justify-content: end;
  }
  .maintenance-content {
    background-color: #D7DADBe2;
  }
  .home-section-maintenance-inner {
    max-width: 900px;
    padding-left: 5em;
    text-align: left;
    color: var(--text-color);
  }
}
@media (min-width: 1420px) {
.home-section-maintenance {
  background-color: #cdd1d2e3;
  background-blend-mode: normal;
}
.home-section-maintenance-inner {
  max-width: 900px;
  padding-left: 5em;
  text-align: left;
  color: var(--text-color);
}
}

.home-section-seo {
  background-image: url('/assets/imgs/seo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #000000cc;
  background-blend-mode: overlay;
  min-height: 500px;
  display: grid;
  place-items: center;
  justify-content: center;
  color: var(--light-text-color);
}
.home-section-seo-inner {
  max-width: 100%;
  text-align: center;
  padding-left: 0;
}
@media (min-width: 900px) {
  .home-section-seo {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;
    min-height: 500px;
    display: grid;
    place-items: center;
    justify-content: start;
  }
  .seo-content {
    background-color: #D7DADBcc;
    padding: var(--block-padding);
  }
  .home-section-seo-inner {
    max-width: 900px;
    text-align: left;
    color: var(--text-color);
  }
}
@media (min-width: 1400px) {
.home-section-seo {
  background-color: #cdd1d2cc;
  background-blend-mode: normal;
}
.home-section-seo-inner {
  max-width: 900px;
  padding-left: 5em;
  text-align: left;
  color: var(--text-color);
}
}
/* promo div */ 
.promo-div, 
.toggle-promo {
  display: none;
}
.promo-txt {display: block;}
  /* promotional May box to be fixed only on larger screens */
  @media(min-width: 600px) {
    .promo-txt {display: none;}
.promo-div {
  display: block;
  background-color: #d4d4d4cc;
  box-shadow: var(--shadow);
  border: 4px outset var(--accent);
  padding: 24px;
    max-width: 380px;
    position: fixed;
    border-radius: 20px;
    padding: 18px ;
    top: 20vh;
    right: 10px;
    animation: promo-ele 3.5s ease-in-out;
    /* max-height: 440px; */
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
.promo-div-inner {
  position: relative;
  border: 1px dashed var(--secondary);
  border-radius: 20px;
  background-color: #ccc;
  box-shadow: 0 0 5px #777;
}
.promo-div-inner p {
  margin: 0 10px;
  text-align: center;
}
.promo-div-inner h3 {
  font-size: 1.5rem;
  color: var(--light-text-color);
  background-color: var(--primary);
  padding: 5px;
  border-radius: 20px 20px 0 0;
}

.close-promo {
  position: absolute;
  right: -20px;
  top: -20px;
  cursor: pointer;
  color: var(--primary);
  text-shadow: var(--shadow);
  padding: 0 10px;
  border: 1px solid;
  transition: .3s ease-in-out
}
.close-promo:hover {
  background-color: var(--primary);
  color: white;
}
.promo-div.closed {
  opacity: 0; 
}


.toggle-promo {
  position: fixed;
  display: block;
  top: 20px;
  right: 0px;
  z-index: 9999;
  padding: 10px 20px;
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius:  20px 0 0 20px ;
  cursor: pointer;
  z-index: 2;
  transition: background-color 0.3s ease-in-out;
  font-size: 18px;
  box-shadow: var(--shadow);
}

.toggle-promo:hover {
  background-color: var(--accent);
}
@media(max-width: 768px) {
  .toggle-promo {
    bottom: 0;
    top: initial;
    left: 20px;
    right: initial;
    border-radius: 20px  20px 0 0;
  }
}

}

@keyframes promo-ele {
  0% {
    transform: translateX(50vh);
  }
  
  100% {
    transform: translateX(0);
  }
}


/* promo page styles */
.promo-page {
  background-image: url('/assets/imgs/hero/promo-bg.webp');
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 2em;
}
.promo-heading {
  background-color: rgba(245, 245, 220, 0.884);
  text-align: center;
  padding: 1.2em;
  border-bottom: 5px ridge var(--accent);
  box-shadow: 0 0 15px #000 ;
}
.promo-intro {
  background-color: #000000cc;
  padding: 5px;
  min-height: 250px;
  display: grid;
  place-content: center;
  border-bottom: 1px solid #fff;
  box-shadow: 0 0 15px #000 ;
}
.promo-intro div {
  max-width: 1200px;
  margin: auto;
  color: var(--light-text-color);
}
.promo-heading h1 {
  font-size: var(--hero-title);
  color: var(--accent);
}

.promo-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-evenly;
  padding: 50px;
  }
  
      .package {
          width: 350px;
          min-height: 350px;
          padding: 20px;
          border-radius: 10px;
          background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.4));
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
          transition: transform 0.2s ease-in-out;
      }
      
      .package-header {
        background-color: var(--accent);
        border-radius: 10px 10px 0  0 ;
        text-align: center;
      }
      .package p {
        background-color: var(--primary-lite);
        color: var(--light-text-color);
        text-align: center;
        margin: 0;
      }
      .package span {
        font-weight: 900;
      }
  
      .package h2 {
          text-align: center;
          margin-bottom: 20px;
      }
  
      .package ul {
          list-style: none;
          padding: 5px;
         
          border: 1px solid #989898;
          background-color: #ffffff5f;
          border-radius: 0  0  10px 10px ;
      }
  
      .package li:not(:last-child) {
          margin-bottom: 10px;
          border-bottom: 1px solid #989898;
      }
  
      .package:hover {
        transform: scale(1.1);
        box-shadow: 15px 15px 40px rgba(0, 0, 0, .8);
      }
      .promo-cta {
        text-align: center;
        background-color: #000000cc;
        padding: 3vw 0;
      }
      .promo-cta h5 {
        color: var(--light-text-color);
        font-family: var(--title-font);
        font-size: var(--hero-title);
      }
/*  portfolio blocks */
.portfolio {
  background-image: var(--gradient);
  min-height: 60vh;
  padding: var(--section-padding);
}

.portfolio h3 {
  color: var(--primary);
  font-size: 1.2rem;
}
.portfolio-inner,
.blog-page-inner,
.business-inner {
  max-width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: var(--section-padding);
  margin: auto;
}

.portfolio-item,
.service-item {
  padding: 5px;
  border-radius: var(--radius);
  border: 2px outset var(--accent);
  transition: 0.3s ease-in-out;
  background-color: #e7e0e0b4;
  /* resize: horizontal; */
  overflow: auto;
  min-width: 300px;
  max-width: 600px;
  flex-grow: 1;
  container-type: inline-size;
  text-align: center;
}

.portfolio-item img,
.service-item img {
  max-width: 280px;
  height: auto;
  margin: 5px auto;
  border-radius: var(--radius);
  cursor: pointer;
}
.portfolio-item a,
.service-item a {
  color: var(--primary);
}
.portfolio-item:hover,
.service-item:hover {
  box-shadow: var(--shadow);
  background-color: #e7e0e0ea;
}
@container (inline-size > 400px) {
  .portfolio-item-inner,
  .service-item-inner {
    display: grid;
    gap: 0.8rem;
    grid-template-areas:
      "h h h h"
      "i i i rt"
      "i i i rt";
  }
  /* image */
  .portfolio-item .i,
  .service-item .i {
    grid-area: i;
    align-self: center;
  }
  /* header or title */
  .portfolio-item-inner .h,
  .service-item .h {
    grid-area: h;
    font-size: 1.5rem;
  }
  /* description and button */
  .portfolio-item-inner .rt,
  .service-item .rt {
    grid-area: rt;
    border-left: 1px dotted var(--primary);
    padding: 5px;
    align-self: center;
  }
}

/* ==========================================
Food ordering page
======================================= */
.vid {
  border-radius: 5px;

  border-radius: var(--radius);
}
@media (min-width: 30em) {
  .vid {
    width: 500px;
    height: 400px;
  }
}

.food-modal {
  display: none; 
  position: fixed; 
  z-index: 1;
  padding-top: 60px; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0, 0, 0); 
  background-color: rgba(0, 0, 0, 0.9); 
}
.food-app-img {
  transition: .3s ease;
  border-radius: 8px;
}
.food-app-img:hover {
  cursor: pointer;
  box-shadow: 0 0 15px #000;
}
/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  height: 100%;
  width: 90%;
  display: grid;
  place-items: start center;
}

/* Add Animation */
.modal-content,
.caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 5px;
  right: 15px;
  color: var(--secondary);
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  z-index: 9999;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
/* business booster page, uses the same but a different background */
.business-boosters {
  background-color: #999;
  min-height: 60vh;
  display: grid;
  place-items: center;
}

/* testimonial area update 4/23/23 */
.testimonial-inner-section h4 {
  font-size: var(--title-size);
  color: var(--primary);
}
.testimonial-inner-section h3 {
  color: var(--accent);
}
.testimonial-inner-section p {
  font-size: 0.9em;
}
.custom-card {
  background-color: beige;
  border: 1px groove #000;
  border-radius: 0.25rem;
    padding: 15px;
}

/* mark */
.testimonial-inner-section div.custom-card:nth-child(1) {
  grid-area: a;
}
/*  Dart */
.testimonial-inner-section div.custom-card:nth-child(2) {
  grid-area: b;
}
/* Pat */
.testimonial-inner-section div.custom-card:nth-child(3) {
  grid-area: c;
}
/* Amy */
.testimonial-inner-section div.custom-card:nth-child(4) {
  grid-area: d;
}
/* Mary */
.testimonial-inner-section div.custom-card:nth-child(5) {
  grid-area: e;
}
/* Tom T. */
.testimonial-inner-section div.custom-card:nth-child(6) {
  grid-area: f;
}
/* Anthony */
.testimonial-inner-section div.custom-card:nth-child(7) {
  grid-area: g;
}
/* Paul Dusenbery */
.testimonial-inner-section div.custom-card:nth-child(8) {
  grid-area: h;
}
/* Ramon Urteaga */
.testimonial-inner-section div.custom-card:nth-child(9) {
  grid-area: i;
}
/* Eugene Clapp */
.testimonial-inner-section div.custom-card:nth-child(10) {
  grid-area: j;
}
/* Donna Plunkett */
.testimonial-inner-section div.custom-card:nth-child(11) {
  grid-area: k;
}
/* Dyego Sousa */
.testimonial-inner-section div.custom-card:nth-child(12) {
  grid-area: l;
}
.testimonial-inner-section {
  max-width: 90%;
  margin: auto;
  display: grid;
  gap: 0.5rem;
  grid-template-areas:
    "i"
    "j"
    "h"
    "a"
    "b"
    "c"
    "d"
    "e"
    "f"
    "g"
    "k"
    "l";
  padding: 3em 5px;
}
@media (min-width: 40em) {
  .testimonial-inner-section {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "a a b b"
      "a a c c"
      "g d d d"
      "f f f h"
      "j k k h"
      "i i i i"
	  "e e e l"
      
      
      ;
  }
}
@media (min-width: 70em) {
  .testimonial-inner-section {
    grid-template-areas:
      "a a a b c c"
      "a a a b d d"
      "g f i b d d"
      "l f i h h h"
      "j j k k e e"
       ;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto; /* Set a fixed height for each row */
    grid-gap: 10px; 
  }
}

.content {
  font-size: 18px;
}
.content p {
  text-align: justify;
  font-size: 0.9rem;
  font-style: italic;
}
.content p img {
  height: 20px;
  float: left;
  margin-right: 20px;
}

/* ============== Updated 11/1/22 ===================== 
| Blog and posts pages |
==================================== */

.blog-page {
  background-image: var(--gradient);
  min-height: 80vh;
  display: grid;
  place-items: center;
}
.blog-page-inner h4 {
  text-align: center;
  text-transform: capitalize;
  font-family: var(--title-font);
  font-weight: 700;
  letter-spacing: 3px;
  font-size: .9em;
}
.list-group-item-title {
  font-family: var(--title-font);
  color: var(--accent);
  font-size: var(--title-size);
  text-align: center;
  padding: var(--block-padding);
}
.side-bar
/* posts with images */
.flex-area {
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.blockquote-footer {
  font-size: .5em;
}
.post-content {
  width: min(50rem, 80%, 100%);
}
.code {
  background-color: #373737;
  color: white;
  padding: 5px;
  text-align: left !important;
}
/* used on the post page at the top, some have dates and some don't */
.blog-date {
  text-align: center;
  font-size: 1.2rem;
  text-transform: capitalize;
  font-style: italic;
}
.blog-page-inner {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.post-card {
  padding: 5px;
  border-radius: var(--radius);
  border: 2px outset var(--accent);
  box-shadow: var(--shadow);
  transition: 0.3s ease-in-out;
  background-color: #e7e0e0b4;
  
  container-type: inline-size;
  min-width: 350px;
  margin-inline: auto;
  max-width: 800px;
  flex-grow: 1;
}

.post-card:hover {
  box-shadow: none;
  background-color: #e7e0e0ea;
}
/* the inner part of the post card container */

.post-card-inner h4 {
  color: var(--primary);
}
.post-card-inner p {
  font-size: var(--text-size);
  color: var(--text-color);
}
.post-card img {
  max-width: 200px;
  margin: 5px auto;
  border-radius: var(--radius);
  border: 3px outset var(--accent);
}
@container (inline-size > 500px) {
  .post-card-inner p {
    display: block;
  }
  .post-card-inner {
    display: grid;
    gap: 0.5rem;
    grid-template-areas:
      "h h h h"
      "p p p rt";
  }
  .post-card-inner #h {
    grid-area: h;
  }
  .post-card-inner p {
    grid-area: p;
  }
  .post-card-inner #rt {
    grid-area: rt;
    border-left: 1px dotted var(--accent);
    padding: 5px;
    align-self: center;
  }
}
/* =================================== 
| The post page with side bar and the blog page
==================================== */
.terminal  {
  margin: 10px 5px;
  color: #fff !important;
  background: #313131;
  padding: 5px;
  box-shadow: 0 0 15px #999;
  text-align: left;
}
.grid-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin: 20px auto;
}
@media (min-width: 60em) {
  .grid-section {
    max-width: 1400px;
    margin: auto;
    grid-template-columns: 1fr 1fr;
  }
  .posts-side-bar {
    position: sticky;
    top: 0;
    z-index: 1030;
    background-color: var(--light-bg);
    padding: var(--block-padding);
    height: 100vh; /* Set a fixed height for the sidebar */
    overflow-y: auto;
    box-shadow: var(--shadow);
  }
  .posts > article {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
}

/* ================================= 
      | what to expect element |
====================================*/

.expect-area summary {
  /* The summary is the title used */
  color: var(--primary);
  background-color: var(--light-bg);

  font-size: var(--text-size);
  font-weight: 600;
  font-family: var(--title-font);
  padding: var(--block-padding);
  border-bottom: 1px solid #ccc;
}

.expect-area details p {
  padding: 10px;
  
}
.expect-area {
  max-width: 90%;
  margin: 0 auto;
  box-shadow: var(--shadow)
}
.expect-area details {
  border: 1px solid var(--light-bg);
  background-color: var(--light-bg);
  /* max-width: 324px; */
}

@media screen and (max-width: 900px) {
  .expect-area {
    max-width: 90%;
    margin: auto;
  }
  .expect-area summary {
    width: 100%;
  }
  .expect-area details {
    width: 100%;
  }
}
/* ================================= 
Contact form 
==================================== */
.contact-page {
  background-color: #ffffff62;
}

/* ================================= 
    | The 404 page  |
==================================== */
.page-404 {background-image: linear-gradient(to right, #f06, #9f6);}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 4em 0;
  gap: 3rem; /* added a gap between image and links */
}

.error img {
  max-width: 50%; /* adjust as needed */
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.site-map-404 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: var(--block-padding);
}

.site-map-404 ul {
  list-style-type: none;
  padding: 0;
}

.site-map-404 li a {
  color: var(--primary);
  text-decoration: none;
  transition: 300ms ease-in-out;
  font-weight: 600;
}

.site-map-404 li a:hover {
  color: var(--accent);
  text-decoration: underline;
}

/* ================================= 
| The Footer element  |
==================================== */

footer {
  border-top: 3px solid var(--primary);
  background: linear-gradient(to top, var(--primary), #ccc);
  color: var(--light-text-color);
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
}
@media (max-width: 764px) {
  footer {
    padding-bottom: 60px;
  }
}
footer a {
  color: var(--light-text-color);
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s;
}

footer a:hover {
  color: var(--accent);
}

.footer-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.footer-sections {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 40px;
}

.footer-section {
  text-align: left;
}

.footer-title {
  font-weight: bold;
  margin-bottom: 10px;
  font-family: var(--title-font);
  color: var(--text-color);
}
.copy {
  margin-top: 20px; 
  text-align: left;
  color: var(--text-color);
}

/* ================================= 
| The back to top button  |
==================================== */
#myBtn {
  display: none;
  position: fixed;
  bottom:0;
  width: fit-content;
  left: 50%;
  font-size: .8em;
  z-index: 9999;
  outline: none;
  color: var(--primary);
  background-color: var(--light-bg);
  padding: 5px 5px 5px 10px;
  
  border-radius: 50% 50% 0 0;
  border: 1px solid var(--accent);
  border-bottom: none;
  box-shadow: -2px -2px 15px 4px #363636;
  opacity: 0;
  animation: appear-in 1.5s ease-in-out forwards;
}

#myBtn:hover {
  background-color: var(--primary);
  color: var(--accent);
}

@keyframes appear-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
