
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Gruppo&family=Poppins:wght@400;700&display=swap');


:root {
  /* color varables */
  --primary: #042147;
  --primary-lite: rgba(4, 33, 71, 0.9);
  --secondary: #3C4D78;
  --secondary-lt: #3C4D78b0;
  --accent: #D4A418;
  --light-bg: #E7EFFF;

  /* font colors */
  --text-color: #1a1b1d;
  --light-text-color: #dddeee;

  /* fonts */
  --title-font: 'Gruppo', cursive;
  --logo-font: 'Great Vibes', cursive;
  --text-font: 'Poppins', sans-serif;
  --text-shadow: 0 0 5px var(--secondary);
  /* font sizes */
  /* --hero-title: clamp(2.8rem, 4cqw, 3rem); */
  --hero-title: 3rem;
  --title-size: 2.5rem;
  --text-size: 1.2rem;
  --nav-menu: 1rem;
  /* for other styles */
  --radius: 10px / 50px;
  --shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.6);
  
  --block-padding: 5px 15px;
  --section-padding: 1.5rem 20px;
  --gradient: linear-gradient(to right top, #8b640d, #9c8c45, #afb37c, #cad9b5, #effded);
}
strong {
  font-weight: 700;
}
p,
li {
  font-family: var(--text-font);
  font-weight: 400;
  font-size: var(--text-size);
}
ul {
  /* to counter bootstrap */
  padding-left: 0;
}
a {
  text-decoration: none;
  font-family: var(--text-font);
  color: var(--secondary);
  font-weight: bold;
}
a:hover {
  color: var(--accent);
}
details summary {
  cursor: pointer;
  text-align: left;
}
.bg {
  background-color: #e6e6e6;
}
details summary > * {
  display: inline;
}
/* For edge and other browsers that do not support summary and details tags */
@supports not (-ms-ime-align: auto) {
  details summary {
    cursor: pointer;
  }

  details summary > * {
    display: inline;
  }

  /* Plus any other <details>/<summary> styles you want IE to ignore. */
}

h1,
h2,
h3,
h4 {
  font-family: var(--title-font);
  font-size: var(--title-size);
  letter-spacing: .3rem;
  text-align: center;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--primary);
  text-shadow: var(--text-shadow);
}
h2 {
  font-style: italic;
  
}

hr {
  max-width: 300px;
  margin: 1.5rem auto;
  border-bottom: 2px dotted var(--secondary);
}
section {
  padding: var(--block-padding);
}
@media (min-width: 30em) {
  section {
    padding: var(--section-padding);
  }
}

/* for some titles to be the primary color */
.primary {
  color: var(--primary);
}

.custom-section {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 1300px;
  margin: 0 auto;
  padding: var(--block-padding);
  justify-content: space-around;
  align-items: center;
}
.custom-section > img {
  margin: 5px auto;
  max-width: 400px;
}
.custom-section div {
  max-width: 800px;
}
.narrow-section {
  display: grid;
  min-height: 200px;
  place-items: center;
  max-width: 900px;
  margin: auto;
  text-align: justify;
}

.custom-basis {
  flex-basis: 100%;
}

.custom-section-item {
  border: 1px solid var(--accent);
  border-radius: var(--radius);
  padding: var(--block-padding);
  transition: 300ms ease-in-out;
  background-color: var(--light-bg);
}

.custom-section-item img {
  max-width: 300px;
  margin: 10px auto;
}
.custom-section-item:hover {
  box-shadow: 0 0 20px #444;
}

.custom-section-item h3 {
  margin-bottom: 0.8rem;
  font-size: 2rem;
}

@media (min-width: 50em) {
  .custom-section {
    max-width: 90em;
    margin: 5rem auto;
  }

  /* = Updated 11/1/22 = used in sections that have wider text with an image, on line 111 this turns to 100% for smaller screens */
  .custom-basis {
    flex-basis: 70%;
    align-self: center;
  }
}
/* used when I need for the items to all be at the top and not centered for the custom items */
.flex-start {
  justify-content: flex-start !important;
}

/* = Updated 11/1/22 = This is for the summary and details tag used in the what to expect and team description */
details[open] summary ~ * {
  animation: details-ele 0.5s ease-in-out;
}

@keyframes details-ele {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/* learn more buttons */

.custom-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  margin: 10px auto;
}

.custom-btn a {
  border: 3px outset var(--primary);
  color: var(--primary);
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 5px 10px;
  background-color: var(--light-bg);
  border-radius: var(--radius);
  transition: 0.3s ease-in-out;
}

.custom-btn a:hover {
  box-shadow: none;
  background-color: var(--accent);
  background-blend-mode: luminosity;
  color: var(--primary);
  border-style: inset;
  border-color: var(--primary);
}

.light-links a {
  color: var(--light-text-color);
  text-decoration: none;
}

/* ================================= 
| Top header with logo and nav links |
==================================== */

.header {
  display: grid;
  gap: 1rem;
  background-image: url("/assets/imgs/livengood-websites-bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-color: rgb(221, 215, 215);
  background-blend-mode: overlay;
  min-height: 40em;
}
/* top bar with contact info */
.top-bar {
  padding: var(--block-padding);
  background-color: var(--primary-lite);
  border-bottom: 1px dotted var(--accent);
}
.top-bar a {
  color: var(--light-text-color);
}
.top-bar a:hover {
  color: var(--accent);
}
.top-bar-inner {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  color: var(--accent);
}
.social-links {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.top-bar-inner img {
  height: 20px;
  display: inline-block;
}
.social-links img {
  padding: 5px;
  height: 30px;
  background-color: #ffffffab;
  box-shadow: 5px 5px 5px rgb(100, 100, 100);
  border-radius: 4px;
  transition: 0.3s ease-in-out;
}
.social-links img:hover {
  background-color: var(--accent);
  box-shadow: 0 0 12px rgb(100, 100, 100);
}

.brand   {
  display: grid;
  align-items: center;
}
.brand img {
  max-width: 320px;
  margin: 20px auto;
}

/* to hide checkbox */
.nav-toggle {
  display: none;
}

.mobile-icon img {
  margin: 0 auto;
  width: 40px;
}

.desktop-icon {
  display: none;
}
/* will open the sub menu, making it to be only on mobile */
.nav-toggle-label {
  display: block;
}

.nav-toggle-label {
  position: absolute;
  right: 20%;
  top: 55px;
  background-color: var(--secondary);
  padding: 5px 10px;
  color: white;
}

.nav-toggle:checked ~ li .dropdown-content {
  display: block;
  position: relative;
}
/* =======================================
|-------------Header area For larger screens----------| 
=====================================*/
.menu-items-container {
  border-top: 1px dotted var(--light-text-color);
  border-bottom: 1px dotted var(--light-text-color);
  padding: 5px;
  background-color: var(--primary-lite);
}
.header1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid var(--accent);
  border-radius: var(--radius);
}

.header1 .main-nav2 ul {
  list-style: none;
}

.header1 .main-nav2 ul li {
  position: relative;
  float: left;
}

.header1 .main-nav2 ul li a {
  font-size: var(--text-size);
  padding: 10px 15px;
  color: var(--light-text-color);
  display: block;
  transition: 300ms ease-in-out;
  text-transform: uppercase;
  margin: 2px;
}

.header1 .main-nav2 ul li a:hover {
  background-color: var(--secondary-lt);

}

.header1 .main-nav2 ul li ul {
  position: absolute;
  left: 0;
  width: 250px;
  background: var(--primary-lite);
  display: none;
}
.header1 .main-nav2 ul li ul li {
  width: 100%;
  border-top: 1px solid var(--secondary);
}
.header1 .main-nav2 ul li:focus-within > ul,
.header1 .main-nav2 ul li:hover > ul {
  display: initial;
  z-index: 999;
}
#menu-bar {
  display: none;
}
.header1 label {
  font-size: var(--text-size);
  color: var(--primary);
  cursor: pointer;
  display: none;
}
.active-nav {
  background-color: var(--secondary);
  border-radius: var(--radius);
}
@media (max-width: 40em) {
  .active-nav {
    border-radius: 0;
  }
  .menu-items-container {
    max-width: 20em;
    margin: 0 auto;
  }
.header1 {
  position: relative;
}
.main-nav2 {
  display: none;
  z-index: 9;
}
.header1 label {
  display: initial;
  color: var(--secondary);
}
.header1 .main-nav2 {
  position: absolute;
  top: 46px;
  left: 0;
  right: 0;
  background-color: var(--primary-lite);
  border: 1px solid var(--secondary);
  box-shadow: var(--shadow);
}
.header1 .main-nav2 ul li {
  width: 100%;
  text-align: center;
  border-top: 1px dashed var(--accent);
}
.header1 .main-nav2 ul li ul {
  position: relative;
  width: 100%;
}
.header1 .main-nav2 ul li ul {
  background-color: var(--secondary);
  top: 0;
}
#menu-bar:checked ~ .main-nav2 {
  display: initial;
}
}
@media (min-width: 900px) {
  .brand img {
    margin: 2em auto;
  }
  .top-bar-inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    min-height: 100%;
    max-width: 1300px;
    margin: auto;
    text-align: center;
    padding: 10px;
  }
  .header {
    grid-template-rows: 0.5fr 3fr auto;
  }

  .header-section {
    max-width: 1400px;
    margin: auto;
    display: grid;
    /* grid-template-columns: 1fr 2.8fr; */
    gap: 5%;
    align-items: center;
  }

  .menu-items-container {
    margin: 0;
    border-radius: var(--radius);
    border-style: outset;
  }
}

/* =================================== 
| Hero section |
==================================== */
.hero {
  background-color: var(--primary-lite);
  padding: 20px 0;
  min-height: 120px;
  display: grid;
  place-items: center;
}
/* for the first letters on the hero home page only */

.title-first-letter {
  font-family: var(--title-font);
  color: var(--accent);
  font-size: 1.2em;
  z-index: 0;
}
.site-title {
  text-align: center;
}
.site-title h1 {
  font-family: var(--title-font);
  font-size: 1.8rem;
  color: var(--light-text-color);
}

.home-sub-title {
  font-family: var(--text-font);
  color: var(--accent);
  font-size: 1.3em;
}

@media (min-width: 80em) {
  .site-title h1 {
    font-size: var(--hero-title);
    text-align: center;
    font-weight: 800;
    text-transform: capitalize;
  }
}
/*  =================================== 
    home page content styling
=================================== */
.home-section {
  min-height: 200px;
  display: grid;
  place-items: center;
}
.home-img img {
  height: 350px;
  width: auto;
  margin: 5px auto;
  border: 3px outset var(--accent);
  border-radius: 8px;
}

/*  portfolio blocks */
.portfolio {

  background-image: var(--gradient);
  min-height: 60vh;
  display: grid;
  place-items: center;
}

.portfolio h3 {
  color: var(--primary);
  font-size: 1.2rem;
}
.portfolio-inner,
.blog-page-inner,
.business-inner {
  max-width: 90em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.portfolio-item,
.service-item {
  padding: 5px;
  border-radius: var(--radius);
  border: 2px outset var(--accent);
  transition: 0.3s ease-in-out;
  background-color: #e7e0e0b4;
  /* resize: horizontal; */
  overflow: auto;
  min-width: 300px;
  max-width: 600px;
  flex-grow: 1;
  container-type: inline-size;
  text-align: center;
}

.portfolio-item img,
.service-item img {
  max-width: 280px;
  height: auto;
  margin: 5px auto;
  border-radius: var(--radius);
  cursor: pointer;
}
.portfolio-item a,
.service-item a {
  color: var(--primary);
}
.portfolio-item:hover,
.service-item:hover {
  box-shadow: var(--shadow);
  background-color: #e7e0e0ea;
}
@container (inline-size > 400px) {
  .portfolio-item-inner,
  .service-item-inner {
    display: grid;
    gap: 0.8rem;
    grid-template-areas:
      "h h h h"
      "i i i rt"
      "i i i rt";
  }
  /* image */
  .portfolio-item .i,
  .service-item .i {
    grid-area: i;
    align-self: center;
  }
  /* header or title */
  .portfolio-item-inner .h,
  .service-item .h {
    grid-area: h;
    font-size: 1.5rem;
  }
  /* description and button */
  .portfolio-item-inner .rt,
  .service-item .rt {
    grid-area: rt;
    border-left: 1px dotted var(--primary);
    padding: 5px;
    align-self: center;
  }
}

/* ==========================================
Food ordering page
======================================= */
.vid {
  border-radius: 5px;

  border-radius: var(--radius);
}
@media (min-width: 30em) {
  .vid {
    width: 500px;
    height: 400px;
  }
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 60px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  height: 100%;
  width: 90%;
  display: grid;
  place-items: start center;
}

/* Add Animation */
.modal-content,
.caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
/* business booster page, uses the same but a different background */
.business-boosters {
  background-image: var(--gradient);
  background-size: cover;
  min-height: 60vh;
  display: grid;
  place-items: center;
}

/* ============= Updated 11/2/22 ==================== 
    | The about page top section with bg image |
==================================== */
.about-img img {
  height: 250px;
  width: auto;
  border: 3px outset var(--accent);
  border-radius: 8px;
}

.carousel-caption {
  background-color: var(--primary-lite);
  border: 3px outset var(--accent);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}
.carousel-caption h5 {
  font-size: 2rem;
  text-transform: capitalize;
  font-family: var(--title-font);
}

/* ============== Updated 11/1/22 ===================== 
| The testimonial area |
==================================== */

.testimonial-section {
  display: grid;
  place-items: center;
}
.single-item h4 {
  font-size: 1.8rem;
}
@media (min-width: 600px) {
  .testimonial-section {
    min-height: 25em;
    background-size: 100% 100%;
  }
}
.testimonials {
  max-width: 1000px;
  padding: 0 15px 50px;
  margin: 0 auto;
}

.single-item {
  background: #fff;
  color: #111;
  padding: 15px;
  margin: 50px 15px;
}
.carousel-item .content {
  min-height: 400px;
  display: grid;
  place-items: center;
}
.profile {
  margin-bottom: 30px;
  text-align: center;
  display: grid;
  place-items: center;
  height: 100%;
}

.content {
  font-size: 18px;
}
.content p {
  text-align: justify;
  font-size: 1rem;
  font-style: italic;
}
.content p img {
  height: 20px;
  float: left;
  margin-right: 20px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: var(--primary);
}
/* ============== Updated 11/1/22 ===================== 
| Blog and posts pages |
==================================== */

.blog-page {
  background-image: var(--gradient);
  min-height: 80vh;
  display: grid;
  place-items: center;
}
/* posts with images */
.flex-area {
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.post-content {
  width: min(50rem, 80%, 100%);
}
.code {
  background-color: #333;
  color: gold;
  padding: 5px;
}
/* used on the post page at the top, some have dates and some don't */
.blog-date {
  text-align: center;
  font-size: 1.2rem;
  text-transform: capitalize;
  font-style: italic;
}
.blog-page-inner {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.post-card {
  padding: 5px;
  border-radius: var(--radius);
  border: 2px outset var(--accent);
  box-shadow: var(--shadow);
  transition: 0.3s ease-in-out;
  background-color: #e7e0e0b4;
  resize: horizontal;
  overflow: auto;
  container-type: inline-size;
  min-width: 350px;
  margin-inline: auto;
  max-width: 800px;
  flex-grow: 1;
}

.post-card:hover {
  box-shadow: none;
  background-color: #e7e0e0ea;
}
/* the inner part of the post card container */

.post-card-inner h4 {
  color: var(--primary);
}
.post-card-inner p {
  font-size: var(--text-size);
  color: var(--text-color);
}
.post-card img {
  max-width: 200px;
  margin: 5px auto;
  border-radius: var(--radius);
  border: 3px outset var(--accent);
}
@container (inline-size > 500px) {
  .post-card-inner p {
    display: block;
  }
  .post-card-inner {
    display: grid;
    gap: 0.5rem;
    grid-template-areas:
      "h h h h"
      "p p p rt";
  }
  .post-card-inner #h {
    grid-area: h;
  }
  .post-card-inner p {
    grid-area: p;
  }
  .post-card-inner #rt {
    grid-area: rt;
    border-left: 1px dotted var(--accent);
    padding: 5px;
    align-self: center;
  }
}
/* =================================== 
| The post page with side bar and the blog page
==================================== */
.terminal {
  margin: 10px 5px;
  color: gold;
  background: #555;
  padding: 5px;
  box-shadow: 0 0 15px #999;
}
.grid-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin: 20px auto;
}
@media (min-width: 60em) {
  .grid-section {
    max-width: 1400px;
    margin: auto;
    grid-template-columns: 1fr 1fr;
  }
  .posts-side-bar {
    background-color: var(--primary-lite);
    padding: 1.2rem;
  }
  .posts > article {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
}
/* ============== Updated 10/31/22 ===================== 
| The resources page for the flip boxes |
==================================== */
.flip-box-container {
  position: relative;
  width: 250px;
  height: 320px;
  perspective: 1000px;
}
.flip-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid var(--accent);
  transform-style: preserve-3d;
  transition: all 0.8s ease;
  text-align: center;
}
.flip-box:hover {
  transform: rotateY(0.5turn);
}
.flip-box .flip-box h4 {
  font-size: 1.5rem;
}
.flip-box p {
  font-size: 14px;
}
.flip-icon {
  font-size: 3rem;
  color: var(--accent);
}
.flip-box-front,
.flip-box-back {
  padding: 10px;
  display: grid;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background-color: var(--light-bg);
}
.flip-box-back {
  transform: rotateY(180deg);
}

/* ================================= 
      | what to expect element |
====================================*/

.expect-area summary {
  /* The summary is the title used */
  color: #fff;
  background-color: var(--primary);
  font-size: var(--text-size);
  font-weight: 600;
  font-family: var(--title-font);
  padding: var(--block-padding);
  border-bottom: 1px solid;
}

.expect-area details p {
  text-align: center;
  /* box-shadow: inset 0 0 10px var(--accent); */
  padding: 10px;
  background-color: var(--light-bg);
}
.expect-area {
  max-width: 380px;
  margin: 0 auto;
}
.expect-area details {
  border: 1px solid var(--primary);
}
@media screen and (max-width: 900px) {
  .expect-area {
    max-width: 90%;
    margin: auto;
  }
  .expect-area summary {
    width: 100%;
  }
}

/* ============= checked 11/1/22 ==================== 
    | The 404 page  |
==================================== */
.page-404 {
  background-image: var(--gradient);
}
.error {
  display: grid;
  place-items: center;
  max-width: 900px;
  margin: auto;
  min-height: 40vh;
}
.error h3 {
  color: #333;
  text-align: left;
  align-self: center;
  font-size: 1.8rem;
}

.site-map-404 {
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
  margin: 1em auto;
  align-items: center;
  gap: 1em;
  min-height: 130px;
  place-items: center;
}

.site-map-404 a {
  padding: var(--block-padding);
  background-color: var(--light-bg);
  box-shadow: var(--shadow);
  color: var(--primary);
  font-size: 1.2em;
  font-weight: 600;
  border: 1px solid;
  transition: 300sm ease-in-out;
  text-align: center;
  width: 200px;
}
.site-map-404 a:hover {
  background-color: var(--accent);
  box-shadow: none;
}

/* ================================= 
| The Footer element  |
==================================== */

footer {
  background-color: var(--primary-lite);
  border-top: 4px solid var(--accent);
  background-blend-mode: overlay;
  padding: 0;
}
.footer-social {
  padding: var(--block-padding);
}
.footer-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.footer-inner h3 {
  color: var(--accent);
  text-align: center;
  font-size: 2em;
  margin-bottom: 10px;
}

.footer-inner a {
  padding: 10px;
  color: var(--light-text-color);
  font-weight: 600;
}
.footer-inner a:hover {
  color: var(--accent);
  font-weight: 600;
}

.footer-nav {
  display: flex;
  gap: 2rem;
}
.footer-nav nav {
  max-width: 200px;
  text-align: center;
}

.footer-social-icons {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  font-size: 2rem;
}
.footer-inner .brand img {
  margin: 20px auto;
  max-width: 22em;
}
  

.footer-contact img {
  display: inline-block;
  width: 40px;
}

@media (min-width: 60em) {
  footer {
    background-size: auto;
    background-position: left;
    padding: var(--section-padding);
  } 
  .footer-contact {
    border-right: 1px solid var(--accent);
    border-left: 1px solid var(--accent);
    height: 200px;
  }
  .footer-contact {display: grid; place-items: center;}
  .footer-inner {
    display: grid;
    grid-template-columns: .5fr 1fr 1fr;
    align-items: center;
    max-width: 90em;
    margin: auto;
  }
  .footer-contact-inner {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;

  }
 
  .footer-social {
    padding: var(--block-padding);
  }
  
  .footer-inner > img {
    margin: 0;
  }
  .footer-inner h3 {
    font-size: 2rem;
  }
  .footer-nav nav {
    max-width: fit-content;
    text-align: left;
    text-transform: capitalize;
  }
  .footer-nav nav a {
    white-space: nowrap;
  }
}

/* ================================= 
| The back to top button  |
==================================== */
#myBtn {
  display: none;
  position: fixed;
  bottom: 120px;
  right: 20px;
  z-index: 99;
  outline: none;
  background-color: var(--light-bg);
  padding: 4px;
  border-radius: 50%;
  border: 1px solid #fff;
  box-shadow: 2px 2px 5px #000;
}
#myBtn img {
  width: 30px;
}

#myBtn:hover {
  background-color: var(--accent);
}
